.characters {
    height: 100%;

    .wrapper {
        height: 100%;
        display: flex;
        align-items: center;
    }

    .timex {
        position: absolute;
        bottom: 50px;
        left: 50%;
        display: flex;
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 1024px) {
    .characters {
        .wrapper {
            padding-bottom: 250px;
        }
    }
}