@import './variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    background-image: $colorInterface;
}

.interface {

    .iMain {
        position: relative;
        width: 100%;
        height: 100vh;
    }

    .wrapper {
        width: 100%;
        margin: 0 auto;
        max-width: 1440px;
        transition: all .3s ease-in;
    }
}

@media screen and (max-width: 1440px) {
    .interface {
        .wrapper {
            padding: 0 4rem;
        }
    }
}

@media screen and (max-width: 1024px) {
    .interface {
        .iMain {
            height: 100%;
            padding-top: 100px;
        }

        .wrapper {
            padding: 0 2rem;
        }
    }
}